/* similar to navbar3 but only with flexboxes */
.wrapper-nav-bar {
  height: 50px;
  background-color: #3399ff;
  margin-bottom: 2px;
}

.nav-bar {
  height: inherit;

  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
}

.logo {
  height: inherit;

  display: flex;
  align-items: center;
  padding-left: 20px;
}

.nav-links {
  height: inherit;

  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li {
  height: inherit;

  display: flex;
  align-items: center;
  list-style: none;
}
/* to center the anchor tags without line height, we set its display to flex and center the items, that
works, idk why
https://stackoverflow.com/questions/28929635/center-div-vertically-in-flexbox-container-with-stretch-alignment
https://stackoverflow.com/questions/28254332/how-to-vertically-center-the-contents-of-a-flexbox-item
maybe center works on all html & texxt?
*/
.logo a,
.nav-links li a {
  height: inherit;

  display: flex;
  align-items: center;

  text-decoration: none;
  color: antiquewhite;
  transition: color 1s;
}
.logo a {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}
.nav-links li a {
  letter-spacing: 3px;
  font-size: 18px;
}
/* .logo a:hover, */
.nav-links a:hover {
  /* color: orange; */
  text-decoration: underline;
}
