.button-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
  flex-shrink: 0;
}
.button-div-2 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.button-div-3 {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
/* .button-1 {
  padding: 2px 4px;
  margin-bottom: 4px;
}
.button-2 {
  margin-bottom: 0px;
}
.button-3 {
  width: 50%;
}
.button-4 {
  margin-top: 2px;
}
.button-5 {
  margin-bottom: 2px;
}
.darker-button {
  filter: brightness(90%);
} */
